# Supabase
SUPABASE_URL=https://wkuxgnlanjrcmnfarpvj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndrdXhnbmxhbmpyY21uZmFycHZqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyNjE5NTYsImV4cCI6MjEwMjgzNzk1Nn0.Z0FtiNJCRgiTSbIgbN2a-iC7hbClAVDGTNW9Tc4c7tM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndrdXhnbmxhbmpyY21uZmFycHZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzI2MTk1NiwiZXhwIjoyMTAyODM3OTU2fQ.ohjQSyOmWCAjVCDJbCl47QVeVwOhIEJMN8h-5XDO7-Q

# API Eksternal AM Premium
API_BASE_URL=https://restapidhan.vercel.app
API_KEY=dravndesamuel

# Admin
ADMIN_USERNAME=admin_root
ADMIN_PASSWORD=rahasia123
JWT_SECRET=rahasia_jwt_yang_kuat
